<!DOCTYPE html>
<!--(courseApp)this is the module that runs this page-->
<html lang="en" ng-app="courseApp">

<head>
    <meta charset="UTF-8">
    <title>Course Registration</title>
    <link rel="stylesheet" href="css/app.css">

</head>
<body>



<div class="container">

    <div class="navbar">
        <ul class="nav">
                <li>Courses</li>
        </ul>
    </div>
<!--  this Coursecontroller responsible for handling info about courses-->
    <div ng-controller="CourseController" style="padding-left: 20px; padding-right: 20px">
        <img ng-src="{{course.imageUrl}}" alt="Angular">
        <div class="row">
            <div class="span1">
                <h2>{{course.name}}</h2>
            </div>
        </div>
        <div class="row">
            <div class="span2">
                <div><strong>Date:</strong> {{course.date}}</div>
                <div><strong>ID:</strong> {{course.id}}</div>

            </div>
            <div class="span3">
                <address>
                    <strong>Found at:</strong> <br>
                    {{course.location.address}} <br>
                    {{course.location.where}} <br>
                </address>
            </div>
        </div>

        <hr>

        <h3>Sessions</h3>
        <ul>
            <li ng-repeat="session in course.sessions">

                <div class="row session">
                    <div class="span0 well votingWidget">
                        <div class="votingButton" ng-click="upVoteSession(session)">
                            <i class="icon-chevron-up icon-white"> <strong>&gt;</strong></i> <br>
<!--                            {{session.upVoteCount}}-->
                        </div>
                        <div class="badge badge-inverse">
                            <div>{{session.upVoteCount}}</div>
                        </div>
                        <div class="votingButton" ng-click="downVoteSession(session)">
                            <div class="icon-chevron-down"> <strong>&lt;</strong>  </div>
                        </div>
                    </div>
                    <div class="span4">
                        <h4 class="title">{{session.name}}</h4>
                        <h6>{{session.creatorName}}</h6>
                        <span>Duration: {{session.duration}}</span><br>
                        <span>Level: {{session.level}}</span><br>
                        <span>Duration: {{session.duration}}</span>
                        <p>{{session.abstract}}</p>
                    </div>
                </div>
            </li>
        </ul>


    </div>
</div>




<!--angular library-->
<script src="lib/angular/angular.js"></script>
<!--starting script that loads up the module for the application-->
<script src="js/app.js"></script>
<!--Controller-->
<script src="js/controllers/CourseController.js"></script>

</body>
</html>